# back-end
/back-end/Aplicacao/bin
/back-end/Aplicacao/obj
/back-end/Dominio/bin
/back-end/Dominio/obj
/back-end/Enditades/bin
/back-end/Enditades/obj
/back-end/Insfraestrutura/bin
/back-end/Insfraestrutura/obj
/back-end/WebAPI/bin
/back-end/WebAPI/obj
/back-end/out
/back-end/.vs/
/back-end/.vs/*

# front-end
/front-end/node_modules
/front-end/.pnp
/front-end/.pnp.js
/front-end/coverage
/front-end/build
/front-end/.DS_Store
/front-end/.env.local
/front-end/.env.development.local
/front-end/.env.test.local
/front-end/.env.production.local
/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*
/back-end/Dominio/obj
/back-end/Aplicacao/obj

