# front-end
/front-end/node_modules/*
/front-end/.pnp
/front-end/.pnp.js
/front-end/coverage
/front-end/build/*
/front-end/.DS_Store
/front-end/.env.local
/front-end/.env.development.local
/front-end/.env.test.local
/front-end/.env.production.local
/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*

# back-end
/back-end/Aplicacao/bin/*
/back-end/Aplicacao/obj/*
/back-end/Dominio/bin/*
/back-end/Dominio/obj/*
/back-end/Dominio/obj/*
/back-end/Enditades/bin/*
/back-end/Enditades/obj/*
/back-end/Insfraestrutura/bin/*
/back-end/Insfraestrutura/obj/*
/back-end/WebAPI/bin/*
/back-end/WebAPI/obj/*
/back-end/out/*
/back-end/.vs/*
/back-end/Enditades/obj/*
/back-end/Dominio/obj/*
/back-end/Dominio/obj
/back-end/Aplicacao/obj
/back-end/Teste/Testes/bin/Debug/net8.0
/back-end/Teste/Testes/obj/Debug/net8.0
/back-end/Workers/CreateAndEditUser/obj/Debug/net8.0
/back-end/Workers/CreateAndEditUser/bin/Debug/net8.0
/back-end/Dominio/obj/Debug/net8.0/Dominio.assets.cache
/back-end/Dominio/obj/Debug/net8.0/Dominio.csproj.AssemblyReference.cache
/back-end/Dominio/obj/Debug/net8.0/Dominio.GeneratedMSBuildEditorConfig.editorconfig
/back-end/Dominio/obj/Dominio.csproj.nuget.dgspec.json
/back-end/Dominio/obj/Dominio.csproj.nuget.g.targets
/back-end/Dominio/obj/project.assets.json
/back-end/Dominio/obj/project.nuget.cache
/back-end/Enditades/obj/Debug/net8.0/Entidades.AssemblyInfoInputs.cache
/back-end/Enditades/obj/Debug/net8.0/Entidades.assets.cache
/back-end/Enditades/obj/Debug/net8.0/Entidades.GeneratedMSBuildEditorConfig.editorconfig
/back-end/Insfraestrutura/obj/Debug/net8.0/Insfraestrutura.AssemblyInfoInputs.cache
/back-end/Insfraestrutura/obj/Debug/net8.0/Insfraestrutura.assets.cache
/back-end/Insfraestrutura/obj/Debug/net8.0/Insfraestrutura.csproj.AssemblyReference.cache
/back-end/Insfraestrutura/obj/Debug/net8.0/Insfraestrutura.GeneratedMSBuildEditorConfig.editorconfig
/back-end/Insfraestrutura/obj/Insfraestrutura.csproj.nuget.dgspec.json
/back-end/Insfraestrutura/obj/Insfraestrutura.csproj.nuget.g.props
/back-end/Insfraestrutura/obj/Insfraestrutura.csproj.nuget.g.targets
/back-end/Insfraestrutura/obj/project.assets.json
/back-end/Insfraestrutura/obj/project.nuget.cache
/back-end/WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfo.cs
/back-end/WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfoInputs.cache
/back-end/WebAPI/obj/Debug/net8.0/WebAPI.assets.cache
/back-end/WebAPI/obj/Debug/net8.0/WebAPI.csproj.AssemblyReference.cache
/back-end/WebAPI/obj/Debug/net8.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
/back-end/Enditades/obj/Entidades.csproj.nuget.dgspec.json
/back-end/Enditades/obj/Entidades.csproj.nuget.g.props
/back-end/Enditades/obj/Entidades.csproj.nuget.g.targets
/back-end/Enditades/obj/project.assets.json
/back-end/Enditades/obj/project.nuget.cache
/back-end/Teste/Testes/obj/project.assets.json
/back-end/Teste/Testes/obj/project.nuget.cache
/back-end/Teste/Testes/obj/Testes.csproj.nuget.dgspec.json
/back-end/Teste/Testes/obj/Testes.csproj.nuget.g.props
/back-end/Teste/Testes/obj/Testes.csproj.nuget.g.targets
/back-end/WebAPI/obj/project.assets.json
/back-end/WebAPI/obj/project.nuget.cache
/back-end/WebAPI/obj/WebAPI.csproj.nuget.dgspec.json
/back-end/WebAPI/obj/WebAPI.csproj.nuget.g.props
/back-end/WebAPI/obj/WebAPI.csproj.nuget.g.targets
/back-end/Workers/CreateAndEditUser/obj/CreateAndEditUser.csproj.nuget.dgspec.json
/back-end/Workers/CreateAndEditUser/obj/CreateAndEditUser.csproj.nuget.g.props
/back-end/Workers/CreateAndEditUser/obj/CreateAndEditUser.csproj.nuget.g.targets
/back-end/Workers/CreateAndEditUser/obj/project.assets.json
/back-end/Workers/CreateAndEditUser/obj/project.nuget.cache
/back-end/Aplicacao/obj/Aplicacao.csproj.nuget.dgspec.json
/back-end/Aplicacao/obj/Aplicacao.csproj.nuget.g.props
/back-end/Aplicacao/obj/Aplicacao.csproj.nuget.g.targets
/back-end/Aplicacao/obj/project.assets.json
/back-end/Aplicacao/obj/project.nuget.cache
/back-end/Aplicacao/obj/Debug/net8.0/Aplicacao.AssemblyInfo.cs
/back-end/Aplicacao/obj/Debug/net8.0/Aplicacao.AssemblyInfoInputs.cache
/back-end/Aplicacao/obj/Debug/net8.0/Aplicacao.assets.cache
/back-end/Aplicacao/obj/Debug/net8.0/Aplicacao.csproj.AssemblyReference.cache
/back-end/Aplicacao/obj/Debug/net8.0/Aplicacao.GeneratedMSBuildEditorConfig.editorconfig
/back-end/Aplicacao/bin/Debug/net8.0/Aplicacao.deps.json
/back-end/Aplicacao/bin/Debug/net8.0/Dominio.pdb
/back-end/Aplicacao/bin/Debug/net8.0/Aplicacao.dll
/back-end/Aplicacao/bin/Debug/net8.0/Aplicacao.pdb
/back-end/Aplicacao/bin/Debug/net8.0/Dominio.dll
/back-end/Aplicacao/bin/Debug/net8.0/Entidades.dll
/back-end/Aplicacao/bin/Debug/net8.0/Entidades.pdb
/back-end/Aplicacao/obj/Debug/net8.0/refint/Aplicacao.dll
/back-end/Aplicacao/obj/Debug/net8.0/Aplicacao.csproj.CoreCompileInputs.cache
/back-end/Aplicacao/obj/Debug/net8.0/ref/Aplicacao.dll
/back-end/Aplicacao/obj/Debug/net8.0/Aplicacao.dll
/back-end/Aplicacao/obj/Debug/net8.0/Aplicacao.pdb
/back-end/Aplicacao/obj/Debug/net8.0/Aplicacao.sourcelink.json
/back-end/Dominio/bin/Debug/net8.0/Dominio.deps.json
/back-end/Dominio/bin/Debug/net8.0/Dominio.dll
/back-end/Dominio/bin/Debug/net8.0/Dominio.pdb
/back-end/Dominio/bin/Debug/net8.0/Entidades.dll
/back-end/Dominio/bin/Debug/net8.0/Entidades.pdb
/back-end/Dominio/obj/Debug/net8.0/refint/Dominio.dll
/back-end/Dominio/obj/Debug/net8.0/ref/Dominio.dll
/back-end/Dominio/obj/Debug/net8.0/Dominio.csproj.CoreCompileInputs.cache
/back-end/Dominio/obj/Debug/net8.0/Dominio.dll
/back-end/Dominio/obj/Debug/net8.0/Dominio.pdb
/back-end/Dominio/obj/Debug/net8.0/Dominio.sourcelink.json
/back-end/Enditades/bin/Debug/net8.0/Entidades.deps.json
/back-end/Enditades/bin/Debug/net8.0/Entidades.dll
/back-end/Enditades/bin/Debug/net8.0/Entidades.pdb
/back-end/Enditades/obj/Debug/net8.0/ref/Entidades.dll
/back-end/Enditades/obj/Debug/net8.0/refint/Entidades.dll
/back-end/Enditades/obj/Debug/net8.0/Entidades.csproj.CoreCompileInputs.cache
/back-end/Enditades/obj/Debug/net8.0/Entidades.dll
/back-end/Enditades/obj/Debug/net8.0/Entidades.genruntimeconfig.cache
/back-end/Enditades/obj/Debug/net8.0/Entidades.pdb
/back-end/Enditades/obj/Debug/net8.0/Entidades.sourcelink.json
/back-end/Insfraestrutura/bin/Debug/net8.0/Dominio.dll
/back-end/Insfraestrutura/bin/Debug/net8.0/Dominio.pdb
/back-end/Insfraestrutura/bin/Debug/net8.0/Entidades.dll
/back-end/Insfraestrutura/bin/Debug/net8.0/Entidades.pdb
/back-end/Insfraestrutura/bin/Debug/net8.0/Insfraestrutura.deps.json
/back-end/Insfraestrutura/bin/Debug/net8.0/Insfraestrutura.dll
/back-end/Insfraestrutura/bin/Debug/net8.0/Insfraestrutura.pdb
/back-end/Insfraestrutura/obj/Debug/net8.0/ref/Insfraestrutura.dll
/back-end/Insfraestrutura/obj/Debug/net8.0/refint/Insfraestrutura.dll
/back-end/Insfraestrutura/obj/Debug/net8.0/Insfraestrutura.csproj.CoreCompileInputs.cache
/back-end/Insfraestrutura/obj/Debug/net8.0/Insfraestrutura.dll
/back-end/Insfraestrutura/obj/Debug/net8.0/Insfraestrutura.genruntimeconfig.cache
/back-end/Insfraestrutura/obj/Debug/net8.0/Insfraestrutura.pdb
/back-end/Insfraestrutura/obj/Debug/net8.0/Insfraestrutura.sourcelink.json
/back-end/WebAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/back-end/WebAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/back-end/WebAPI/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/back-end/WebAPI/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/back-end/WebAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/back-end/WebAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/back-end/WebAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/back-end/WebAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/back-end/WebAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/back-end/WebAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/back-end/WebAPI/bin/Debug/net8.0/Aplicacao.dll
/back-end/WebAPI/bin/Debug/net8.0/Aplicacao.pdb
/back-end/WebAPI/bin/Debug/net8.0/Azure.Core.dll
/back-end/WebAPI/bin/Debug/net8.0/Azure.Identity.dll
/back-end/WebAPI/bin/Debug/net8.0/Dominio.dll
/back-end/WebAPI/bin/Debug/net8.0/Dominio.pdb
/back-end/WebAPI/bin/Debug/net8.0/Entidades.dll
/back-end/WebAPI/bin/Debug/net8.0/Entidades.pdb
/back-end/WebAPI/bin/Debug/net8.0/Insfraestrutura.dll
/back-end/WebAPI/bin/Debug/net8.0/Insfraestrutura.pdb
/back-end/WebAPI/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/back-end/WebAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/back-end/WebAPI/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/back-end/WebAPI/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/back-end/WebAPI/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/back-end/WebAPI/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/back-end/WebAPI/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/back-end/WebAPI/bin/Debug/net8.0/System.Drawing.Common.dll
/back-end/WebAPI/bin/Debug/net8.0/System.Memory.Data.dll
/back-end/WebAPI/bin/Debug/net8.0/System.Runtime.Caching.dll
/back-end/WebAPI/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/back-end/WebAPI/bin/Debug/net8.0/System.Security.Permissions.dll
/back-end/WebAPI/bin/Debug/net8.0/System.Windows.Extensions.dll
/back-end/WebAPI/bin/Debug/net8.0/WebAPI.deps.json
/back-end/WebAPI/bin/Debug/net8.0/WebAPI.dll
/back-end/WebAPI/bin/Debug/net8.0/WebAPI.exe
/back-end/WebAPI/bin/Debug/net8.0/WebAPI.pdb
/back-end/WebAPI/obj/Debug/net8.0/ref/WebAPI.dll
/back-end/WebAPI/obj/Debug/net8.0/apphost.exe
/back-end/WebAPI/obj/Debug/net8.0/WebAPI.csproj.CoreCompileInputs.cache
/back-end/WebAPI/obj/Debug/net8.0/WebAPI.csproj.FileListAbsolute.txt
/back-end/WebAPI/obj/Debug/net8.0/WebAPI.dll
/back-end/WebAPI/obj/Debug/net8.0/WebAPI.genruntimeconfig.cache
/back-end/WebAPI/obj/Debug/net8.0/WebAPI.sourcelink.json
/back-end/WebAPI/obj/Debug/net8.0/refint/WebAPI.dll
/back-end/WebAPI/obj/Debug/net8.0/WebAPI.MvcApplicationPartsAssemblyInfo.cs
/back-end/WebAPI/obj/Debug/net8.0/WebAPI.pdb
/back-end/WebAPI/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/back-end/WebAPI/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/back-end/WebAPI/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/back-end/WebAPI/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/back-end/Aplicacao/obj/Release/net8.0/Aplicacao.AssemblyInfo.cs
/back-end/Aplicacao/obj/Release/net8.0/Aplicacao.AssemblyInfoInputs.cache
/back-end/Aplicacao/obj/Release/net8.0/Aplicacao.assets.cache
/back-end/Aplicacao/obj/Release/net8.0/Aplicacao.csproj.AssemblyReference.cache
/back-end/Aplicacao/obj/Release/net8.0/Aplicacao.GeneratedMSBuildEditorConfig.editorconfig
/back-end/Dominio/obj/Release/net8.0/Dominio.AssemblyInfo.cs
/back-end/Dominio/obj/Release/net8.0/Dominio.AssemblyInfoInputs.cache
/back-end/Dominio/obj/Release/net8.0/Dominio.assets.cache
/back-end/Dominio/obj/Release/net8.0/Dominio.csproj.AssemblyReference.cache
/back-end/Dominio/obj/Release/net8.0/Dominio.GeneratedMSBuildEditorConfig.editorconfig
/back-end/Enditades/obj/Release/net8.0/Entidades.AssemblyInfo.cs
/back-end/Enditades/obj/Release/net8.0/Entidades.AssemblyInfoInputs.cache
/back-end/Enditades/obj/Release/net8.0/Entidades.assets.cache
/back-end/Enditades/obj/Release/net8.0/Entidades.csproj.AssemblyReference.cache
/back-end/Enditades/obj/Release/net8.0/Entidades.GeneratedMSBuildEditorConfig.editorconfig
/back-end/Insfraestrutura/obj/Release/net8.0/Insfraestrutura.AssemblyInfo.cs
/back-end/Insfraestrutura/obj/Release/net8.0/Insfraestrutura.AssemblyInfoInputs.cache
/back-end/Insfraestrutura/obj/Release/net8.0/Insfraestrutura.assets.cache
/back-end/Insfraestrutura/obj/Release/net8.0/Insfraestrutura.csproj.AssemblyReference.cache
/back-end/Insfraestrutura/obj/Release/net8.0/Insfraestrutura.GeneratedMSBuildEditorConfig.editorconfig
/back-end/Teste/Testes/bin/Release/net8.0/CoverletSourceRootsMapping_Testes
/back-end/Teste/Testes/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/back-end/Teste/Testes/obj/Release/net8.0/Testes.AssemblyInfo.cs
/back-end/Teste/Testes/obj/Release/net8.0/Testes.AssemblyInfoInputs.cache
/back-end/Teste/Testes/obj/Release/net8.0/Testes.assets.cache
/back-end/Teste/Testes/obj/Release/net8.0/Testes.csproj.AssemblyReference.cache
/back-end/Teste/Testes/obj/Release/net8.0/Testes.GeneratedMSBuildEditorConfig.editorconfig
/back-end/Teste/Testes/obj/Release/net8.0/Testes.GlobalUsings.g.cs
/back-end/WebAPI/obj/Release/net8.0/WebAPI.AssemblyInfo.cs
/back-end/WebAPI/obj/Release/net8.0/WebAPI.AssemblyInfoInputs.cache
/back-end/WebAPI/obj/Release/net8.0/WebAPI.assets.cache
/back-end/WebAPI/obj/Release/net8.0/WebAPI.csproj.AssemblyReference.cache
/back-end/WebAPI/obj/Release/net8.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Aplicacao.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Aplicacao.pdb
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/appsettings.json
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/CreateAndEditUser.deps.json
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/CreateAndEditUser.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/CreateAndEditUser.exe
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/CreateAndEditUser.pdb
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/CreateAndEditUser.runtimeconfig.json
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Dominio.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Dominio.pdb
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Entidades.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Entidades.pdb
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Insfraestrutura.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Insfraestrutura.pdb
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.AspNetCore.Cryptography.Internal.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.EntityFrameworkCore.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Caching.Memory.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Configuration.Binder.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Configuration.CommandLine.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Configuration.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Configuration.Json.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Configuration.UserSecrets.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.DependencyInjection.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Diagnostics.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Hosting.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Identity.Core.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Identity.Stores.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Logging.Configuration.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Logging.Console.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Logging.Debug.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Logging.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Logging.EventLog.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Logging.EventSource.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Options.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Microsoft.Extensions.Primitives.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Newtonsoft.Json.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Npgsql.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/RabbitMQ.Client.dll
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/System.Diagnostics.EventLog.dll
/back-end/Workers/CreateAndEditUser/out
/back-end/Workers/CreateAndEditUser/obj/Release/net8.0
/back-end/Workers/CreateAndEditUser/bin/Release/net8.0/runtimes/win/lib/net8.0
