# back-end
/back-end/Aplicacao/bin/*
/back-end/Aplicacao/obj/*
/back-end/Dominio/bin/*
/back-end/Dominio/obj/*
/back-end/Dominio/obj/*
/back-end/Enditades/bin/*
/back-end/Enditades/obj/*
/back-end/Insfraestrutura/bin/*
/back-end/Insfraestrutura/obj/*
/back-end/WebAPI/bin/*
/back-end/WebAPI/obj/*
/back-end/out/*
/back-end/.vs/*
/back-end/Enditades/obj/*
/back-end/Dominio/obj/*

# front-end
/front-end/node_modules/*
/front-end/.pnp
/front-end/.pnp.js
/front-end/coverage
/front-end/build/*
/front-end/.DS_Store
/front-end/.env.local
/front-end/.env.development.local
/front-end/.env.test.local
/front-end/.env.production.local
/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*
/back-end/Dominio/obj
/back-end/Aplicacao/obj
/back-end/Teste/Testes/bin/Debug/net8.0
/back-end/Teste/Testes/obj/Debug/net8.0
/back-end/Workers/CreateAndEditUser/obj/Debug/net8.0
/back-end/Workers/CreateAndEditUser/bin/Debug/net8.0
/back-end/Dominio/obj/Debug/net8.0/Dominio.assets.cache
/back-end/Dominio/obj/Debug/net8.0/Dominio.csproj.AssemblyReference.cache
/back-end/Dominio/obj/Debug/net8.0/Dominio.GeneratedMSBuildEditorConfig.editorconfig
/back-end/Dominio/obj/Dominio.csproj.nuget.dgspec.json
/back-end/Dominio/obj/Dominio.csproj.nuget.g.targets
/back-end/Dominio/obj/project.assets.json
/back-end/Dominio/obj/project.nuget.cache
/back-end/Enditades/obj/Debug/net8.0/Entidades.AssemblyInfoInputs.cache
/back-end/Enditades/obj/Debug/net8.0/Entidades.assets.cache
/back-end/Enditades/obj/Debug/net8.0/Entidades.GeneratedMSBuildEditorConfig.editorconfig
/back-end/Insfraestrutura/obj/Debug/net8.0/Insfraestrutura.AssemblyInfoInputs.cache
/back-end/Insfraestrutura/obj/Debug/net8.0/Insfraestrutura.assets.cache
/back-end/Insfraestrutura/obj/Debug/net8.0/Insfraestrutura.csproj.AssemblyReference.cache
/back-end/Insfraestrutura/obj/Debug/net8.0/Insfraestrutura.GeneratedMSBuildEditorConfig.editorconfig
/back-end/Insfraestrutura/obj/Insfraestrutura.csproj.nuget.dgspec.json
/back-end/Insfraestrutura/obj/Insfraestrutura.csproj.nuget.g.props
/back-end/Insfraestrutura/obj/Insfraestrutura.csproj.nuget.g.targets
/back-end/Insfraestrutura/obj/project.assets.json
/back-end/Insfraestrutura/obj/project.nuget.cache
/back-end/WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfo.cs
/back-end/WebAPI/obj/Debug/net8.0/WebAPI.AssemblyInfoInputs.cache
/back-end/WebAPI/obj/Debug/net8.0/WebAPI.assets.cache
/back-end/WebAPI/obj/Debug/net8.0/WebAPI.csproj.AssemblyReference.cache
/back-end/WebAPI/obj/Debug/net8.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
/back-end/Enditades/obj/Entidades.csproj.nuget.dgspec.json
/back-end/Enditades/obj/Entidades.csproj.nuget.g.props
/back-end/Enditades/obj/Entidades.csproj.nuget.g.targets
/back-end/Enditades/obj/project.assets.json
/back-end/Enditades/obj/project.nuget.cache
/back-end/Teste/Testes/obj/project.assets.json
/back-end/Teste/Testes/obj/project.nuget.cache
/back-end/Teste/Testes/obj/Testes.csproj.nuget.dgspec.json
/back-end/Teste/Testes/obj/Testes.csproj.nuget.g.props
/back-end/Teste/Testes/obj/Testes.csproj.nuget.g.targets
/back-end/WebAPI/obj/project.assets.json
/back-end/WebAPI/obj/project.nuget.cache
/back-end/WebAPI/obj/WebAPI.csproj.nuget.dgspec.json
/back-end/WebAPI/obj/WebAPI.csproj.nuget.g.props
/back-end/WebAPI/obj/WebAPI.csproj.nuget.g.targets
/back-end/Workers/CreateAndEditUser/obj/CreateAndEditUser.csproj.nuget.dgspec.json
/back-end/Workers/CreateAndEditUser/obj/CreateAndEditUser.csproj.nuget.g.props
/back-end/Workers/CreateAndEditUser/obj/CreateAndEditUser.csproj.nuget.g.targets
/back-end/Workers/CreateAndEditUser/obj/project.assets.json
/back-end/Workers/CreateAndEditUser/obj/project.nuget.cache
/back-end/Aplicacao/obj/Aplicacao.csproj.nuget.dgspec.json
/back-end/Aplicacao/obj/Aplicacao.csproj.nuget.g.props
/back-end/Aplicacao/obj/Aplicacao.csproj.nuget.g.targets
/back-end/Aplicacao/obj/project.assets.json
/back-end/Aplicacao/obj/project.nuget.cache
/back-end/Aplicacao/obj/Debug/net8.0/Aplicacao.AssemblyInfo.cs
/back-end/Aplicacao/obj/Debug/net8.0/Aplicacao.AssemblyInfoInputs.cache
/back-end/Aplicacao/obj/Debug/net8.0/Aplicacao.assets.cache
/back-end/Aplicacao/obj/Debug/net8.0/Aplicacao.csproj.AssemblyReference.cache
/back-end/Aplicacao/obj/Debug/net8.0/Aplicacao.GeneratedMSBuildEditorConfig.editorconfig
