@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pointer{
  cursor: pointer;
}

/* Animação de entrada */
.cart-item-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.cart-item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

/* Animação de saída */
.cart-item-exit {
  opacity: 1;
  transform: translateY(0);
}

.cart-item-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

/* Animação de entrada para as lojas */
.loja-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.loja-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

/* Animação de saída para as lojas */
.loja-exit {
  opacity: 1;
  transform: translateY(0);
}

.loja-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}